body{
    
    font-family: cursive;
    background-color: gray;

    
}

 /* h1{
    padding: 5px;
    background-color: #48d1cc;    
    margin:5%;
    Margin-top: 0;
    position: absolute;

}  */


 
/* .nav{
    background-color: aquamarine;
    margin: 0;
    padding: 20px 20px 20px 20px blue;
    border: solid black 1px;
    float: left;   
} */